main/.theia
docs/00-Prompt-for-ProjectAnalysis.md
main/docs/00-Prompt-for-ProjectAnalysis.md
ESP32Project/__pycache__/
.env
vendor/
composer.phar
deploy_to_main.ps1
public/docs/00-Prompt-for-ProjectAnalysis.md
app/docs/00-Prompt-for-ProjectAnalysis.md
var/
run_servidor.ps1
yarn.lock
node_modules/
data_extractor/src/__pycache__/
data_extractor/src/model/__pycache__/
data_extractor/src/controller/__pycache__/
data_extractor/src/logs/sistema.log
data_extractor/src/logs/__pycache__/
data_extractor/src/install/__pycache__/
data_extractor/tests/__pycache__/
data_extractor/src/view/__pycache__/main_view.cpython-311.pyc
data_extractor/docs/00-Prompt-for-ProjectAnalysis.md
data_extractor/.vscode/
