main/.theia
docs/00-Prompt-for-ProjectAnalysis.md
main/docs/00-Prompt-for-ProjectAnalysis.md
ESP32Project/__pycache__/
.env
vendor/
composer.lock
composer.phar
deploy_to_main.ps1
public/docs/00-Prompt-for-ProjectAnalysis.md
app/docs/00-Prompt-for-ProjectAnalysis.md
var/
run_servidor.ps1
yarn.lock
node_modules/
data_extractor/src/__pycache__/
