{% extends 'base.html.twig' %}

{% block title %}Visualización de Balanza y Contador Industrial{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}

    <div class="container">
        <h1>Electrónica</h1>

    </div>    
{% endblock %}
