body{
    font-family: Arial, sans-serif;
    background-color: #98dfa8;
    padding: 0;
    margin: 0;
}
header{
    background-color: antiquewhite;
    color:rgb(92, 54, 54);
    padding: 0.1mm;
    text-align: center;
}

main{
    padding: 8mm;
    color:rgb(92, 54, 54);
}