<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Test del Header</title>
</head>
<body>
    <header>
        <h1>{{ message }}</h1>
        <p>Este es un test para visualizar el header en el entorno de pruebas.</p>
        {# Puedes incluir aquí el código del header para probarlo #}
        {% include 'header.html.twig' %}
    </header>
</body>
</html>
