{% extends 'base.html.twig' %}

{% block title %}Test Header{% endblock %}

{% block body %}
    {# Incluimos el header aquí #}
    {% include 'partials/header.html.twig' %}

    <div class="container">
        <h1>Página de Prueba para el Header</h1>
        <p>Este es el contenido de prueba debajo del header.</p>
    </div>
{% endblock %}
