<!DOCTYPE html>
<html lang="es">
<head>
    <!-- ... -->
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    <!-- ... -->
</head>
<body>
    <div id="app"></div>
    {% block body %}{% endblock %}

    <!-- Archivos JavaScript generados por Webpack Encore -->
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    <!-- Elimina la siguiente línea si usas 'app.js' -->
    <!-- <script src="{{ asset('build/vue_app.js') }}"></script> -->
</body>
</html>
